body{
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;
}
* {
	box-sizing: border-box;
}
.topo-total{
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 2;
}
.topo{
    width: 935px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    left: 50%;
    margin-left: -467.5px;
    z-index: 1;
    border-bottom: 1px solid #DBDBDB;
}
.separacao {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
    margin: 15px 0 17px 0;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 150px;
    background-color: #ffffff;
  }
  
  .logo ion-icon {
    padding: 16px 0;
  }
  
  .logo-desk {
    width: 103px;
    height: 29px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 10px;
  }
.pesquisar{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisar p{
    color: #979797;
}
.icones{
    height: 100%;
    width: 144px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ion-icon{
    font-size: 22px;
}
.conteudo{
    width: 935px;
    margin: 0 auto;
    display: flex;
    background-color: #FAFAFA;
    gap: 28px;
}
.container-stories{
    width: 614px;
    height: 118px;
    margin-top: 88px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.container-stories img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.sobrescrever{
    background-image: url("stories.jpg");
    background-size: contain;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-stories{
    width: 66px;
    height: 86px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 14px;
}
.container-stories .box-stories:first-child{
    margin-left: 18px;
}
p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
}
.sidebar{
    width: 293px;
    height: 446px;
    background-color: #FAFAFA;
    position: sticky;
    top: 88px;
    right: 0;
}
.primeiro-sidebar{
    height: 56px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
}
.primeiro-sidebar img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.margin-17{
    margin-left: 17px;
}
h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}
.weight-300{
    font-weight: 300;
    color: #8E8E8E;
}
.sep{
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 17px;
}
.sep p:last-child{
    font-weight: 500;
}
.sep p:first-child{
    color: #8E8E8E;
}
.sugestoes img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.seguidores {
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .seguidores h2{
      height: 14px;
  }
  .seguidores p{
      height: 11px;
  }
.sugestoes p{
    color: #8E8E8E;
}
.sugestao{
    height: 32px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.flex{
    display: flex;
    align-items: center;
}
h3{
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
    color: #139EF2;
}
.direitos{
    height: 74px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    color: #C7C7C7;
}
.margin-33{
    margin-bottom: 33px;
}
.publicacao{
    width: 614px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}
.publicacao:last-child{
    margin-bottom: 0px;
}

.logo-publi{
    display: flex;
    align-items: center;
}
.logo-publi img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 15px;
}
.topo-publi{
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}
.topo-publi ion-icon{
    font-size: 16px;
}
.img-principal{
    width: 612px;
}
.icones-3{
    width: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.borda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 15px;
}
.curtido img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
strong{
    font-weight: bold;
}
.curtido{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 17px;
}

.comentarios{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
}

.comentarios ion-icon{
    font-size: 16px;
    margin-left: 20px;
}
.fundo{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 13px;
    padding: 13px 0;
}
.digite-aqui{
    background-color: #FFFFFF;
    display: flex;
    padding: 0 17px;
}
.digite-aqui input{
    width: 100%;
    border: none;
    outline: none;
    color: black;
}
.digite-aqui ion-icon {
    font-size: 22px;
    margin-right: 14px;
  }
.publicar{
    color: #B2DFFC;
    display: flex;
    align-items: center;
    border-radius: 1px;
    margin-left: 20px;
}
.publicar:hover{
    color: #0095F6;
    transition: 300ms;
    cursor: pointer;
}
.container-stories ion-icon{
    font-size: 26px;
    position: absolute;
    right: 0;
    top: 46px;
    margin-right: 8px;
    color: white;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7))
}
.logo-mobile{
    display: none;
}
.borda-mobile{
    display: none;
} 

@media (max-width: 935px) {  
    .sidebar{
        display: none;
    }
    .topo{
        width: 100%;
        margin-left: 0;
        top: 0;
        left: 0;
        justify-content: space-between;
    }
    .conteudo{
        width: 100%;
        justify-content: center;
    }
    .logo{
        margin-left: 20px;
    }
    .icones{
        margin-right: 20px;
    }
}

@media (max-width: 614px){   
.logo{
    width: auto;
}
.logo-mobile{
    margin-top: 10px;
}
.separacao{
    display: none;
}
.pesquisar{
    display: none;
}
.icones ion-icon{
    display: none;
}
.icones ion-icon:first-child{
    display: block;
}
.icones{
    width: auto;
}
.logo-desk{
    display: none;
}
.logo-mobile{
    display: block;
    width: 103px;
    height: 29px;
    background-color: #FFFFFF;
}
.container-stories ion-icon{
    display: none;
}
.container-stories{
    width: 100%;
    margin-top: 54px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #FAFAFA;
}
.box-stories{
    background-color: #FAFAFA;
}
.publicacao{
    width: 100%;
    height: auto;
    border-right: none;
    border-left: none;
    border-radius: 0;
}
.img-principal{
    width: 100%;
    height: auto;
}
.conteudo-principal{
    width: 100%;
}
.borda-mobile{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-top: 1px solid #DBDBDB;
}
.borda-mobile ion-icon:first-child{
    margin-left: 20px;
}
.borda-mobile ion-icon:last-child{
    margin-right: 20px;
}
.publicacao:last-child{
    margin-bottom: 54px;
}
}